<div flex layout="row" class="bg-gen"  data-ng-controller="GrabbasController" data-ng-init="find()"> 

    <div flex="15" class="bg-lgrey" hide-sm hide-md hide-lg ></div>
       <div flex layout="column"  class="bg-lgrey">
       <div layout="column" >
            <md-whiteframe class="md-whiteframe-z1" layout-margin>
            <md-content>
            <div layout="row" layout-padding>
                <div layout="row" flex layout-align="start center">
                    <img ng-src="{{shop.imageUrl}}" class="shop-image" class="mar-r-20">
                </div>
                <div layout="row" flex layout-align="end center" class="rel-down">
                    <md-button data-ui-sref="grabbas.create" class="md-fab md-warn" aria-label="create New Promotion" layout="row" layout-align="center center" ng-show="authentication.user">
                      <div class="pad-t-5" layout="row" layout-align="center center">
                        <ng-md-icon icon="add" size="30" ng-attr-style="fill: {{fill}}"></ng-md-icon>
                      </div>
                        
                    </md-button>
                </div>
                
                <!-- <h2 class="mar-l-20 txt-inherit txt-24">{{shop.name}}</h2> -->
            </div>
            <md-divider></md-divider>
            <div layout="column">
                 <h2 class="mar-l-20 txt-inherit txt-24">{{shop.name}}</h2>
                 <ul class="setting-list mar-l-20" layout-margin>
                
                <li>{{shop.address.line1}}</li>
                <li>{{shop.address.line2}}</li>
                <li>{{shop.address.code}}</li>
            </ul>
            </div>
           <div layout="row" >

               
            <ul class="setting-list mar-l-20" >
               
                <li>{{shop.contact.person}}</li>
                <li>{{shop.contact.number}}</li>
                <li>{{shop.contact.email}}</li>
            </ul>
            <br>
           </div>

           
            
            
        </md-content>
        </md-whiteframe>
       </div>

       <div flex layout="row" layout-wrap layout-align="center start">
           <div flex-gt-md="30" flex-md="45" flex-sm="100" layout="column" ng-repeat="grabba in grabbas" layout-margin>
               <md-card>
               <md-content>
                        <div layout="row" layout-padding>
                            <div flex>
                                <h3>{{grabba.title}}</h3>
                            </div>
                            <div flex layout="row" layout-align="end center">
                                 <ng-md-icon icon="whatshot" size="30" ng-attr-style="fill: {{red}}"></ng-md-icon>
                            </div>
                        </div>
                </md-content>
                <md-content>
                        <div  class="card-image" ng-style="{'background-image' : 'url({{grabba.imageUrl}})', 'background-size' : '100%', 'background-repeat' : 'no-repeat'}">
                         
                        </div>
                </md-content>

                <md-content>
                        <div  layout="column" layout-padding>

                          <span class="hd4 light">{{grabba.sub}}</span>
                          <br>
                          <span class="hd4 light"><b>Date:</b> {{grabba.created | Customdate}}</span>

                          <span class="hd4 light"><b>Price:</b> {{'R' + grabba.price}}</span>
                          <p></p>
                        </div>
                </md-content>
                <div layout="row" class="bg-lgrey" layout-padding layout-align="start center">
                    <md-button class="md-accent" data-ng-href="/#!/grabbas/{{grabba._id}}">
                        View
                    </md-button>
                    
                </div>
                 
                </md-card>
           </div>

       </div>
        
                  
                   
        </div>    
        <div flex="15" class="bg-lgrey" hide-sm hide-md hide-lg></div>
</div>