<div flex layout="row" class="bg-gen"  data-ng-controller="GrabbasController" data-ng-init="find()"> 

    <div flex="15"  hide-sm hide-md hide-lg></div>
       <div flex layout="row" layout-wrap class="bg-gen">
                    <div class="bg-white" layout="row" flex="100" data-ng-show="authentication.user && grabbas[0] "  layout-align="end center">
                        <div flex layout="column" layout-align="center end">
                            <md-content>
                            <md-button data-ui-sref="grabbas.create" class="md-warn md-raised left" layout="row" layout-align="center center">
                                        <ng-md-icon icon="add" size="20" ng-attr-style="fill: {{fill}}"></ng-md-icon><span class="mar-l-5"> Add Promotion</span>
                            </md-button>
                            <md-divider></md-divider>
                            </md-content>
                        </div>  
                        
                    </div>
                    <div layout="row" flex data-ng-hide="grabbas[0]" layout-align="center center">
                        <div flex layout="column" layout-align="center center">
                            <h2>There are currently no Promotion that you created. Create one first</h2>
                            <md-button data-ng-show="authentication.user" data-ui-sref="grabbas.create" class="md-warn md-raised left" layout="row" layout-align="center center">
                                        <ng-md-icon icon="add" size="20" ng-attr-style="fill: {{fill}}"></ng-md-icon><span class="mar-l-5"> Create </span>
                            </md-button>
                        </div>  
                        
                    </div>
                    <div layout="row" flex="100" data-ng-show="authentication.user && grabbas[0] ">
                        <md-content flex>
                                <md-card >
                                    <img data-ng-src="{{shop.imageUrl}}" alt="{{shop.name}}" class="mar-t-20 mar-b-20">
                                    <md-divider></md-divider>
                                <md-card-content >
                                    <h2 class="md-title">{{shop.name}}</h2>
                                    <ul class="setting-list">
                                        <li><span><b>Shop Address</b></span></li>
                                        <li><span>{{shop.address.line1}}</span></li>
                                        <li><span>{{shop.address.line2}}</span></li>
                                        <li><span>{{shop.address.code}}</span></li>
                                        
                                    </ul>
                                    <ul class="setting-list">
                                        <li><span><b>Contact</b></span></li>
                                        <li><span>{{shop.contact.person}}</span></li>
                                        <li><span>{{shop.contact.number}}</span></li>
                                        <li><span>{{shop.contact.email}}</span></li>
                                        
                                    </ul>

                                    
                                </md-card-content>
                                </md-card>
                            </md-content>
                    </div>


                   <div class="min-h-350" layout="row" flex-gt-md="30" flex-md="50" flex-sm="100" data-ng-repeat="grabba in grabbas">

                            <md-content flex>
                                <md-card >
                                    <img data-ng-src="{{grabba.imageUrl}}" alt="{{grabba.title}}" >
                                <md-card-content >
                                    <h2 class="md-title">{{grabba.title}}</h2>
                                    <p class="md-body-1">{{grabba.sub}}</p>
                                    <p class="md-body-1">{{'R' + grabba.price}}</p>
                                    <div layout="column"  layout-align="start start" >
                                    <md-button data-ng-href="/#!/grabbas/{{grabba._id}}" class="md-warn md-raised left" layout="row" layout-align="center center">
                                        <ng-md-icon icon="store_mall_directory" size="20" ng-attr-style="fill: {{fill}}"></ng-md-icon><span class="mar-l-5"> View Promotion</span>
                                    </md-button>
                                    
                                </div>
                                </md-card-content>
                                </md-card>
                            </md-content>
                   </div>
                   
                </div>    
        <div flex="15"  hide-sm hide-md hide-lg></div>
</div>