<section data-ng-controller="LeftsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Lefts</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="left in lefts" data-ng-href="/#!/lefts/{{left._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="left.created | date:'medium'"></span>
				by
				<span data-ng-bind="left.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="left.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!lefts.$resolved || lefts.length">
    	No Lefts yet, why don't you <a href="/#!/lefts/create">create one</a>?
    </div>
</section>