<section layout="column" flex  data-ng-controller="AboutController">
	<div layout="row" flex layout-padding>
		<div flex="10" hide-lg hide-sm hide-md></div>
		<div class="mar-10" flex layout="row" layout-wrap layout-align="center start">
			<md-content>
				<h1>Tzaneen Cycling Club</h1>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions.
				</p>
			</md-content>	
		</div>
		<!-- <md-divider></md-divider> -->	
		<div flex="10" hide-lg hide-sm hide-md></div>
	</div>
	
		<!-- <md-divider></md-divider> -->	
		<div flex="10" hide-lg hide-sm hide-md></div>
	</div>
	<div layout="row" flex layout-padding>
		<div flex="10" hide-lg hide-sm hide-md></div>
		<div class="mar-10" flex layout="row" layout-wrap layout-align="center start">
			<md-content>
				<h1>Our Mission</h1>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions.
				</p>
			</md-content>	
		</div>
		<!-- <md-divider></md-divider> -->	
		<div flex="10" hide-lg hide-sm hide-md></div>
	</div>
	
		<!-- <md-divider></md-divider> -->	
		<div flex="10" hide-lg hide-sm hide-md></div>
	</div>
	<div layout="row" flex layout-padding>
		<div flex="10" hide-lg hide-sm hide-md></div>
		<div class="mar-10" flex layout="row" layout-wrap layout-align="center start">
			<md-content>
				<h1>Our Vision</h1>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions.
				</p>
			</md-content>	
		</div>
		<!-- <md-divider></md-divider> -->	
		<div flex="10" hide-lg hide-sm hide-md></div>
	</div>
	
		<!-- <md-divider></md-divider> -->	
		<div flex="10" hide-lg hide-sm hide-md></div>
	</div>

	
</section>