    <div data-ng-controller="HeaderController" flex>
    <md-toolbar layout="row">
    	<div flex-gt-md="10" flex-gt-lg="20" flex-sm="10" flex-md="10" layout="row" layout-align="center center">
    	<div flex hide-gt-lg layout="row" layout-align="start center">
    		<md-button class="menu" hide-gt-lg ng-click="toggleLeft()" aria-label="Show User List">
           <ng-md-icon icon="menu" size="30" ng-attr-style="fill: {{fill}}"></ng-md-icon>

        </md-button>
    	</div>
    	<div flex hide-sm hide-md layout="row" layout-align="start center">
    		<img data-ng-src="modules/core/img/brand/tzn-black.png" data-ng-style="{'height' : '40px'}">
    		<span hide-lg><h1 class="md-toolbar-tools txt-blk">Tzaneen Cycling</h1></span>

 
    	</div>
        
        </div>
        <div flex-gt-lg="20" layout="row" layout-align="start center" hide-gt-md>
    		<img data-ng-src="modules/core/img/brand/tzn-black.png" data-ng-style="{'height' : '40px'}">
    		<span><h1 class="md-toolbar-tools txt-blk">Tzaneen Cycling</h1></span>
    	</div>
        <div flex  layout="row" layout-align="end end" layout-fill hide-sm hide-md>
       
        <md-tabs class="md-primary" layout="column" layout-align="end end">
        	<md-tab  data-ng-repeat="item in topbar.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);"   id="tab1" aria-controls="tab1-content" data-ui-sref="{{item.state}}" >
	        <span class="txt-dgrey">{{item.title}}</span>
	      </md-tab>
	      <!-- <md-tab  id="tab1" aria-controls="tab1-content" data-ui-sref="authentication.signup" data-ng-hide="authentication.user">
	        <span class="txt-dgrey">Signup</span>
	      </md-tab> -->
	      
	      </md-tabs>
      </div>
      <div flex-gt-sm="20" flex-gt-lg="10">

      		<div layout="column" class="pos-rt">
      			<div layout="row"  data-ng-hide="authentication.user" layout-align="end start">
						<md-button class="btn-text-std " data-ui-sref="authentication.signin" layout="row" layout-align="start start">
							<div><ng-md-icon icon="input" size="20" ng-attr-style="fill: {{fill}}"></ng-md-icon><br><span class="txt-dgrey">signin</span></div>
						</md-button>
					</div>
					<div layout="row"  data-ng-show="authentication.user" layout-align="end start" >
						<md-button class="btn-text-std pad-5" layout="row" layout-align="start start" layout-align="center center" data-ng-click="toggleProfile()" aria-label="Toggle the Profile Setting menu">
							
							<span class="mar-5" flex hide-sm><img data-ng-src="{{authentication.user.profileImageURL}}" class="header-profile-image "/> {{authentication.user.displayName}} </span>
							<span class="mar-5" flex hide-gt-sm><img data-ng-src="{{authentication.user.profileImageURL}}" class="header-profile-image "/></span>
						</md-button>
						
						
					</div>
					<div data-ng-hide="collapseProfile">
					<md-content>
					    <md-list >
					    	<md-item >
					        <md-item-content data-ng-click=closeProfile();>
					          <div class="md-tile-content item">
					           <ng-md-icon icon="cancel" size="30" ng-attr-style="fill: {{fill}}"></ng-md-icon>
					          </div>
					        </md-item-content>
					      </md-item>
					      <md-item >
					        <md-item-content >
					          <div class="md-tile-content item">
					           <span class="txt-dgrey txt-inherit">Edit Profile</span>
					          </div>
					        </md-item-content>
					      </md-item>
					      <md-item data-ui-sref="events.list">
					        <md-item-content>
					          
					          <div class="md-tile-content item">
					           <p class="txt-dgrey txt-inherit">Change Profile Picture</p>
					          </div>
					        </md-item-content>
					      </md-item>
					      <md-item >
					      <md-item data-ui-sref="events.list">
					        <md-item-content>
					          
					          <div class="md-tile-content item">
					           <p class="txt-dgrey txt-inherit">Change Password</p>
					          </div>
					        </md-item-content>
					      </md-item>
					      <md-item >
					        <md-item-content>
					          
					          <div class="md-tile-content item">
					           <p class="txt-inherit"><a href="/api/auth/signout" target="_self" >Signout</a></p>
					          </div>
					        </md-item-content>
					      </md-item>
					    </md-list>
					  </md-content>
					 </div> 

					<!-- <div class="fill-white" layout="column"  layout-align="end start" data-ng-hide="collapseProfile">
						<md-button class="btn-text-std pad-5" layout="row" layout-align="start start" layout-align="center center" layout-fill ng-click=closeProfile(); tabindex="0">
							<span  flex><ng-md-icon icon="expand_less" size="20" ng-attr-style="fill: {{black}}" ></ng-md-icon></span>
						</md-button>
						<md-button class="btn-text-std pad-5" layout="row" layout-align="start start" layout-align="center center" layout-fill data-ui-sref="settings.profile">
							<span class="txt-dgrey txt-chip">Edit Profile</span>
						</md-button>
						<md-button class="btn-text-std pad-5" layout="row" layout-align="start start" layout-align="center center" layout-fill data-ui-sref="settings.picture">
							<span class="txt-dgrey txt-chip">Change Profile Picture</span>
						</md-button>
						<md-button class="btn-text-std pad-5" layout="row" layout-align="start start" layout-align="center center" layout-fill data-ui-sref="settings.password">
							<span class="txt-dgrey txt-chip">Change Password</span>
						</md-button>
						<md-button class="btn-text-std pad-5" layout="row" layout-align="start start" layout-align="center center" layout-fill>

							<span class="txt-dgrey txt-chip"><a href="/api/auth/signout" target="_self">Signout</a></span>
						</md-button>
					</div> -->

      		</div>
					
					
					
	</div>
					
	</div>
    </md-toolbar>

</div>
