
<div layout="row" flex layout-wrap >

	<div layout="row" flex="100" data-ng-controller="HomeController" data-ng-init="startArticles(); hoganCompile(); pushPartners();">
		
	<div flex layout="row" layout-wrap layout-align="start">
		<div flex>	



			<div layout="column" flex data-ng-repeat="ad in curAd" layout-fill class="ad-area" >
				<div class="ad-image" flex layout="column" layout-fill  layout-align="center center" data-ng-hide="ad">
					<md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
					<h1>Welcome to Tzaneen Cycling</h1>
					<p>Thank for your patience while loading takes place</p>
				</div>
		    	<div  class="ad-image" flex layout="column" layout-fill  layout-align="start start" ng-style="{'background-image' : 'url({{ad.imageUrl}})'}" data-ng-if="ad">
		    					
								<div flex  class="pad-r-10 "  layout-fill layout="column" layout-align="start start" >
									
								</div>
								
								<div class="bg-alpha" layout="row" layout-fill flex-sm="80" flex-md="45" flex-lg="50" data-ng-if="ad">
									<div flex flex-md="65" flex-lg="" layout="column"  ng-style="{'padding-left': '20px'}">
										<ul class="setting-list">
	                                        <li><h1 class="txt-white">{{ad.title}}</h1></li>
	                                        <li class="mar-b-5"><span class="txt-white">{{ad.description}} </span></li>
	                                        <li data-ng-repeat="spec in ad.specifications"><span class="txt-white" ><b>{{spec.key + ':' + ' '}}</b> {{spec.value}}</span></li>
	                                        <li>
	                                        	<div layout="row" class="mar-t-5" ng-show="ad.type">
		                                    		<md-button class="md-warn md-raised" data-ui-sref="events.list"> View </md-button>
		                                    	</div>
	                                        </li>  
                                    	</ul>
									</div>
									<div  flex-md="35"  flex layout="column"  layout-align="end end"  layout-padding>
										
                                    	<div layout="row" layout-sm="column" layout-align="center end" class="sponsor-section">
                                    		<div data-ng-repeat="sponsor in ad.sponsors" layout-margin>
                                    			<img data-ng-src="{{sponsor.imageUrl}}" class="thumb-sponsor" alt="{{sponsor.name}}">
                                    		</div>
                                    		
                                    	</div>
                                    	
									</div>
								</div>

								
				</div>

				</div>
		</div>
	</div>
	
	</div>
	<div layout="row" flex="100">
		<div class="bg-lgrey" flex layout="column" layout-wrap layout-align="center center" layout-padding>
				<div flex layout="row" data-ng-repeat="partner in partners">
					<img data-ng-src="{{img}}">
					<h1>{{img}}</h1>
				</div>
				
		</div>	
	</div>

	<div layout="row" flex="100">
		<div flex="10" hide-lg hide-sm hide-md></div>
		
		<div flex layout="row" layout-wrap layout-align="center start" layout-margin>
		<md-content layout-padding>
				<h1>Welcome to Tzaneen Cycling Club</h1>
				<p ng-style="{'text-align' : 'justify'}">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions.
				</p>
		</md-content>		
		</div>
		<br>
		<md-divider></md-divider>
		
		<div flex="10" hide-lg hide-sm hide-md></div>
	</div>


	<div layout="row" flex="100">
		<div flex="10" hide-lg hide-sm hide-md></div>
		
		<div flex layout="row" layout-wrap layout-align="center start" layout-padding>
		<md-content layout-padding>
				<h1>More about what we do</h1>
				<p ng-style="{'text-align' : 'justify'}">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions.
				</p>
		</md-content>		
		</div>
		<br>
		<md-divider></md-divider>
		
		<div flex="10" hide-lg hide-sm hide-md></div>
	</div>
	<div layout="row" flex="100">
		<div flex="10" hide-lg hide-sm hide-md></div>
		
		<div flex layout="row" layout-wrap layout-align="center start" layout-padding>
		<md-content layout-padding>
				<h1>Anything else we would like to mention</h1>
				<p ng-style="{'text-align' : 'justify'}">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions.
				</p>
				<br>
		</md-content>		
		</div>
		<br>
		<md-divider></md-divider>
		
		<div flex="10" hide-lg hide-sm hide-md></div>
	</div>

	<div layout="row" flex="100" ng-style="{'background-color' : '#212121'}">
		<div flex="10" hide-lg hide-sm hide-md></div>
		<div layout="column" flex>
			<div flex  layout="row" layout-wrap layout-align="start start" layout-padding>
				<div >
					<img data-ng-src="modules/core/img/brand/tzn.png" class="footer-logo">
				</div>
				<div class="border-r-w" layout="column" layout-padding>
					<h2 class="txt-white mar-0">Tzaneen Cycling</h2>
					<p class="txt-white">info@tzaneencycling.co.za</p>
				</div>
				<div flex layout="row"  hide-sm layout-align="start center">
					
					<md-button class="md-fab mar-l-15" aria-label="Eat cake" ng-href="#" layout="row" layout-align="center center">
			           <img data-ng-src="modules/core/img/icons/f-w.png" class="icon-button">
			        </md-button>
			        <md-button class="md-fab md-primary mar-l-15" aria-label="Use Android" layout="row" layout-align="center center">
			          <img data-ng-src="modules/core/img/icons/tw-w.png"  class="icon-button">
			        </md-button>
			        
				</div>
				<div flex layout="row" hide-gt-sm  layout-align="start center">
					
					<md-button class="md-fab md-mini mar-l-15" aria-label="Eat cake" ng-href="#" layout="row" layout-align="center center">
			           <img data-ng-src="modules/core/img/icons/f-w.png" class="icon-button">
			        </md-button>
			        <md-button class="md-fab md-primary md-mini mar-l-15" aria-label="Use Android" layout="row" layout-align="center center">
			          <img data-ng-src="modules/core/img/icons/tw-w.png"  class="icon-button">
			        </md-button>
			        
				</div>
				<div flex layout="column" hide-sm layout-align="center end">
					<small class="md-caption txt-white">Site Developed by:</small>
					<img data-ng-src="modules/core/img/brand/nhd-foot.png" class="nhd-footer">
			        
				</div>

				
			</div>

			<div flex  layout="row" hide-gt-sm layout-wrap layout-align="start start" layout-padding>
				<div flex layout="column"  layout-align="center start" layout-padding>
					<small class="md-caption txt-white">Site Developed by:</small>
					<img data-ng-src="modules/core/img/brand/nhd-foot.png" class="nhd-footer">
			        
				</div>

				
			</div>

			
			
		</div>
	
		
		<div flex="10" hide-lg hide-sm hide-md></div>
	</div>


</div>	