<div data-ng-controller="LeftController">
	<md-sidenav  md-component-id="left" class="md-whiteframe-z2" >
        <md-toolbar class="md-primary">
        <h1 class="md-toolbar-tools">Tzaneen Cycling</h1>
      </md-toolbar>
      <md-content layout="column" layout-fill>
      			<ul class="sidenav-ul">
      				<li data-ng-repeat="item in sidenav.items | orderBy: 'position'" flex="100" layout="row" layout-align="start start" data-ui-sref="{{item.state}}">
      					<md-button flex >
      					<div flex="50" class="txt-inherit txt-dgrey pad-15" layout="row" layout-align="start start"><ng-md-icon icon="{{item.icon}}" size="20" ng-attr-style="fill: {{fill}}"></ng-md-icon><span class="pad-l-15">{{item.title}}</span></div>
      					</md-button>
      				</li>
      				<li flex="100" layout="row" layout-align="start start" data-ui-sref="authentication.signup" data-ng-hide="authentication.user">
      					<md-button flex >
      					<div flex="50" class="txt-inherit txt-dgrey pad-15" layout="row" layout-align="start start"><ng-md-icon icon="perm_identity" size="20" ng-attr-style="fill: {{fill}}"></ng-md-icon><span class="pad-l-15">Signup</span></div>
      					</md-button>
      				</li>
      			</ul>
				
				</div>
		</md-content>	
 </md-sidenav>
</div>




