<div data-ng-controller="LeftController">
	<md-sidenav  md-component-id="left" class="md-whiteframe-z2" >
        <md-toolbar class="md-primary">
        <div flex layout="row" layout-align="start center">
        <img data-ng-src="modules/core/img/brand/tzn-black.png" data-ng-style="{'height' : '40px'}">
        <span><h1 class="md-toolbar-tools txt-blk">Tzaneen Cycling</h1></span>
      </div>
      </md-toolbar>
      <md-content layout="column" layout-fill>
      			<ul class="sidenav-ul">
      				<li data-ng-repeat="item in sidenav.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" flex="100" layout="row" layout-align="start start" data-ui-sref="{{item.state}}">
      					<md-button flex >
      					<div flex="50" class="txt-inherit txt-dgrey pad-15" layout="row" layout-align="start start"><ng-md-icon icon="{{item.icon}}" size="20" ng-attr-style="fill: {{fill}}"></ng-md-icon><span class="pad-l-15">{{item.title}}</span></div>
      					</md-button>
      				</li>
              <li  flex="100" layout="row" layout-align="start start" data-ui-sref="authentication.signup">
                <md-button flex >
                <div flex="50" class="txt-inherit txt-dgrey pad-15" layout="row" layout-align="start start"><ng-md-icon icon="{{item.icon}}" size="20" ng-attr-style="fill: {{fill}}"></ng-md-icon><span class="pad-l-15">SIngup</span></div>
                </md-button>
              </li>
      				
      			</ul>
				
				</div>
		</md-content>	
 </md-sidenav>
</div>




