<div data-ng-controller="LeftController">
	<md-sidenav  md-component-id="left" class="md-whiteframe-z2" >
        <md-toolbar class="md-primary">
        <h1 class="md-toolbar-tools">Tzaneen Cycling</h1>
      </md-toolbar>
      <md-content layout="column" layout-fill>
      			<ul class="sidenav-ul">
      				<li data-ng-repeat="item in sidenav.items | orderBy: 'position'" flex="100" layout="row" layout-align="start start" data-ui-sref="{{item.state}}">
      					<md-button flex >
      					<div flex="50" class="txt-inherit txt-dgrey pad-15" layout="row" layout-align="start start"><ng-md-icon icon="{{item.icon}}" size="20" ng-attr-style="fill: {{fill}}"></ng-md-icon><span class="pad-l-15">{{item.title}}</span></div>
      					</md-button>
      				</li>
      				<li flex="100" layout="row" layout-align="start start" data-ui-sref="authentication.signup" data-ng-hide="authentication.user">
      					<md-button flex >
      					<div flex="50" class="txt-inherit txt-dgrey pad-15" layout="row" layout-align="start start"><ng-md-icon icon="perm_identity" size="20" ng-attr-style="fill: {{fill}}"></ng-md-icon><span class="pad-l-15">Signup</span></div>
      					</md-button>
      				</li>
      			</ul>
				<!-- div data-ng-repeat="item in sidenav.items | orderBy: 'position'" >
					
					<md-button data-ui-sref="{{item.state}}" class="md-primary sidenav-btn" layout="row" layout-align="start center" flex>
									<div class="sidenav-primary-icon" flex="15">
										<div class="rounded-icon-holder" layout="column" layout-align="center center">
											<img data-ng-src="{{'modules/core/img/icons/' + item.icon + '.png'}}" class="sidenav-icon" class="sidenav-icon">
										</div>
									</div>
									<div class="sidenav-primary-text" flex layout="column" layout-align="center start">
										<div flex ng-style="{'font-size':'13px'}">{{item.title}}</div>
									</div>
									<div class="sidenav-secondary" flex="15" data-ng-if="item.items[0]">
										<h2 class="fa fa-angle-down secondary-icon"></h2>
									</div>		
					</md-button>
				</div> -->

					<!-- <v-accordion vAccordion-default>
						<v-pane data-ng-repeat="item in sidenav.items | orderBy: 'position'" flex layout-fill data-ng-if="item.shouldRender(authentication.user);" >
							<v-pane-header layout-fill flex >
						      <md-button data-ui-sref="{{item.state}}" class="md-primary sidenav-btn" ng-style="{'color':'black'}" layout="row" layout-align="start center" flex>
									<div class="sidenav-primary-icon" flex="15">
										<div class="rounded-icon-holder" layout="column" layout-align="center center">
											<img data-ng-src="{{'modules/core/img/icons/' + item.icon + '.png'}}" class="sidenav-icon" class="sidenav-icon">
										</div>
									</div>
									<div class="sidenav-primary-text" flex layout="column" layout-align="center start">
										<div flex ng-style="{'font-size':'13px'}">{{item.title}}</div>
									</div>
									<div class="sidenav-secondary" flex="15" data-ng-if="item.items[0]">
										<h2 class="fa fa-angle-down secondary-icon"></h2>
									</div>
									
								</md-button>
						    </v-pane-header>
						    					
						      <v-pane-content class="sub-item">
							  	      <div layout="column"  layout-align="center start" >
							  	      	<div data-ng-repeat="subitem in item.items" flex layout-fill>
							  	      		<md-button  layout="row" layout-fill layout-align="start center" layout-padding class="sub-menu" >
												<span class="inset" ng-style="{'color': 'black', 'font-weight': 'normal'}">{{subitem.title}}</span>
											</md-button>
							  	      	</div>
											
										</div> 
							  </v-pane-content>
						        
						      </v-accordion>
						    </v-pane-content>

						</v-pane>
					</v-accordion>		 -->	
				</div>
		</md-content>	
 </md-sidenav>
</div>




