<div flex layout="row"  data-ng-controller="ArticlesController" data-ng-init="findOne()">
	<div flex="15" class="bg-lgrey" hide-sm hide-md hide-lg></div>
	       <div flex layout="column" layout-wrap >
	       			
	       			
	       				<md-content>
				    <md-card>
				      <img data-ng-src="{{article.imageUrl}}" alt="{{article.title}}">
				      <md-card-content>
				      	
				        <h2 class="md-title">{{article.title}}</h2>
				        <h3 class="md-subhead">{{article.sub}}</h3>
				        <p>
				          {{article.body}}
				        </p>
				         <md-button data-ng-click="remove();" class="md-warn md-raised md-hue-2" data-ng-show="authentication.user">Delete</md-button>
				      </md-card-content>
				    </md-card>
				  </md-content>
	       			
	                
				
	        		
	       </div>    
    <div flex="15" class="bg-lgrey" hide-sm hide-md hide-lg></div>
</div>
