<div flex layout="row"  data-ng-controller="AdvertisementsController" data-ng-init="findOne()">
	<div flex="15" class="bg-lgrey" hide-sm hide-md hide-lg></div>
	       <div flex layout="column" layout-wrap layout-fill>
	                <md-content flex>
					    <md-card>
					      <img src="{{advertisement.imageUrl}}">
					      <md-card-content>
					        <h2>{{advertisement.title}}</h2>
					        <md-divider></md-divider>
					        <br>
					        <p>
					          {{advertisement.description}}
					        </p>
					        
					        <md-button data-ui-sref="entries.create" class="md-accent md-raised md-hue-2" data-ng-hide="authentication.user">Enter This Race</md-button>
					        <md-button data-ng-click="remove();" class="md-warn md-raised md-hue-2" data-ng-show="authentication.user">Delete</md-button>
					      </md-card-content>
					    </md-card>
				    </md-content>
	        		
	       </div>    
    <div flex="15" class="bg-lgrey" hide-sm hide-md hide-lg></div>
</div>

<!-- <section data-ng-controller="AdvertisementsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="advertisement.title"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == advertisement.user._id">
		<a class="btn btn-primary" href="/#!/advertisements/{{advertisement._id}}">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="advertisement.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="advertisement.user.displayName"></span>
		</em>
	</small>
</section> -->

