<div flex layout="row" layout-fill data-ng-controller="EntriesController"; data-ng-init="checkFF()"; > 


    <div flex="15" class="bg-lgrey" hide-sm hide-md hide-lg></div>






                <!-- ===========   Confirm State  ============ -->
                <div layout="column" flex layout-fill>

                

                <md-whiteframe class="md-whiteframe-z1 dashboard-card-full " layout="column" > 
                    <!-- Start wtih Form in here. -->

                    <md-content class="md-padding">
                        <form name="entryForm" data-ng-submit="create()" flex layout-fill class="std-text">

                            <div layout="column" layout-sm="column" layout-fill>
                            
                            <h2>Entry Form</h2>
                            <md-divclasser></md-divclasser>
                                 <div layout="column" layout-fill data-ng-hide="collapseForm">
                                <div layout="row" layout-sm="column">
                                    <h4>Select Event</h4>
                                </div>
                                <div layout="column" layout-align="center start" style="height: 100px;">
                                    <md-select ng-model="event" md-on-open="loadEvents()" style="min-wclassth: 200px;">
                                      <md-select-label>{{ event ? event.name : 'Select Event' }}</md-select-label>
                                      <md-option ng-value="event" ng-repeat="event in events"><span><ng-md-icon icon="directions_bike" size="14" ng-attr-style="fill: {{fill}}"></ng-md-icon> </span>{{event.name + ' '}} &nbsp<span><ng-md-icon icon="today" size="14" ng-attr-style="fill: {{fill}}"></ng-md-icon> </span>{{eventDate | Customdate }}</md-option>
                                    </md-select>
                                    <p class="md-caption">{{ event ? event.name : 'No Event Selected' }}</p>
                                  </div>

                                <div layout="row" layout-sm="column">
                                    <md-input-container flex>
                                        <p><b>Title:</b> <span class="radioValue">{{ entry.title }}</span> </p>
                                        <md-radio-group ng-model="entry.title" layout="row">
                                          <md-radio-button value="Mr">Mr</md-radio-button>
                                          <md-radio-button value="Mrs"> Mrs </md-radio-button>
                                          <md-radio-button value="Ms">Ms</md-radio-button>
                                        </md-radio-group>
                                    </md-input-container>
                                    <md-input-container flex>
                                        <p><b>Gender:</b> <span class="radioValue">{{ entry.gender }}</span> </p>
                                        <md-radio-group ng-model="entry.gender" layout="row">
                                          <md-radio-button value="Male">Male</md-radio-button>
                                          <md-radio-button value="Female"> Female </md-radio-button>
                                          
                                        </md-radio-group>
                                    </md-input-container>
                                    
                                </div>
                                <div layout="row" layout-sm="column">
                                     <p><b>Personal:</b></p>
                                </div>
                                <div layout="row" layout-sm="column">
                               
                                    <md-input-container flex>
                                        <label>Firstname</label>
                                        <input type="text" required name="name" ng-model="entry.firstName" placeholder="Firstname">
                                        <div ng-messages="entryForm.name.$error" class="error">
                                          <div ng-message="required">This is required.</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex>
                                        <label>Lastname</label>
                                        <input type="text" required name="lastname" ng-model="entry.lastName" placeholder="Surname">
                                        <div ng-messages="entryForm.lastname.$error" class="error">
                                          <div ng-message="required">This is required.</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex>
                                        <label>class/Passport Number</label>
                                        <input type="text" required name="rsaclass" ng-model="entry.rsaclass" placeholder="Enter your Password Number">
                                        <div ng-messages="entryForm.rsaclass.$error" class="error">
                                          <div ng-message="required">This is required.</div>
                                        </div>

                                    </md-input-container>
                                    
                                </div>

                                <div layout="row" layout-sm="column">
                                    <h4>Date of Birth</h4>
                                </div>
                                <div layout="row" layout-sm="column">
                                    <div layout="column" layout-align="center start" style="height: 100px;" >
                                        <md-select ng-model="year" md-on-open="loadYears()" style="min-wclassth: 200px;">
                                          <md-select-label>{{ year ? year : 'Year' }}</md-select-label>
                                          <md-option ng-value="year" ng-repeat="year in years"></span>{{year}}</md-option>
                                        </md-select>
                                        <!-- <p class="md-caption">{{ year ? year : 'No Birth year Selected' }}</p> -->
                                    </div> 
                                    <div layout="column" layout-align="center start" style="height: 100px;" >
                                        <md-select ng-model="month" md-on-open="loadMonths()" style="min-wclassth: 200px;">
                                          <md-select-label>{{ month ? month.value : 'Month' }}</md-select-label>
                                          <md-option ng-value="month" ng-repeat="month in months"></span>{{month.value}}</md-option>
                                        </md-select>
                                        <!-- <p class="md-caption">{{ year ? year : 'No Birth year Selected' }}</p> -->
                                    </div> 
                                    <div layout="column" layout-align="center start" style="height: 100px;" >
                                        <md-select ng-model="day" md-on-open="loadDays()" style="min-wclassth: 200px;">
                                          <md-select-label>{{ day ? day : 'Day' }}</md-select-label>
                                          <md-option ng-value="day" ng-repeat="day in days" data-ng-click="compileDate()"></span>{{day}}</md-option>
                                        </md-select>
                                        <!-- <p class="md-caption">{{ year ? year : 'No Birth year Selected' }}</p> -->
                                    </div> 

                                </div>
                                
                                
                                <!-- <div layout="row" layout-sm="column" data-ng-hide="{{firefox}}">
                                    <h4>Date of Birth</h4>
                                </div>
                                 <div layout="row" layout-sm="column" data-ng-hide="{{firefox}}">
                                    <div layout="row" flex>
                                        <p class="red">NB! if a date picker option is not rendered Please enter date as: <b>yyyy/mm/dd</b></p>
                                    </div>
                                    
                                </div>   
                               
                                 <div layout="row" layout-sm="column">
                                    <div >
                                        <md-input-container data-ng-hide="{{firefox}}">
                                      <label>Enter you Date of Birth <b>(YYYY/MM/DD)</b></label>
                                      <input type="date" ng-model="entry.birthDate" ng-click="logDate()">
                                    </md-input-container>
                                    </div>
                                    
                                </div> -->
                                <div layout="row" hide-gt-sm>
                                    <div class="mar-5">
                                        <h4>Contact</h4>
                                    </div>
                                </div>
                                
                                <div layout="row" flex layout-sm="column">
                                    <md-input-container flex>
                                        <label>Mobile Number</label>
                                        <input  name="mobile" ng-model="entry.mobileNumber" placeholder="Mobile Number">
                                        <div ng-messages="entryForm.mobile.$error" class="error">
                                          <div ng-message="required">This is required.</div>
                                        
                                        </div>
                                    </md-input-container>
                                    
                                    <md-input-container flex>
                                        <label>Email</label>
                                        <input type="email" required name="email" ng-model="entry.email" placeholder="Email">
                                        <div ng-messages="entryForm.email.$error" class="error">
                                          <div ng-message="required">This is required.</div>
                                            <div ng-message="email">Make sure you entered a correct Email type</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="row" flex layout-sm="column">
                                    <div layout="row" flex>
                                        <md-input-container flex>
                                        <label>Emergency Contact Name</label>
                                        <input type="text" name="emergency_person" ng-model="entry.emergency.person" placeholder="Emegency Contact Name">
                                        
                                    </md-input-container>
                                    </div>
                                    <div layout="row" flex>
                                        <md-input-container flex>
                                        <label>Emegency Contact </label>
                                        <input type="text"  name="emergency_contact" ng-model="entry.emergency.contact" placeholder="Emegency Contact Number">
                                        
                                    </md-input-container>
                                    </div>
                                    
                                </div>
                                <div layout="row" layout-sm="column">
                                    <md-input-container >
                                        <label>Emergency Contact Relationship</label>
                                        <input type="text" name="emergency_relationship" ng-model="entry.emergency.relationship" placeholder="relationship">
                                        
                                    </md-input-container>
                                </div>
                                <div layout="row" layout-sm="column">
                                <h4>Medical Information</h4>
                                </div>
                                
                                <div layout="row" flex layout-sm="column">
                                    <md-input-container flex>
                                        <label>Medical Aid Name</label>
                                        <input type="text" name="medical_company" ng-model="entry.medical.company" placeholder="Medical Aid Name">
                                        <div ng-messages="entryForm.medical_company.$error" class="error">
                                          <div ng-message="required">This is required.</div>
                                        
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex>
                                        <label>Medical Aid Number</label>
                                        <input type="text" name="medical_number" ng-model="entry.medical.number" placeholder="Medical Aid Number">
                                        <div ng-messages="entryForm.medical_number.$error" class="error">
                                          <div ng-message="required">This is required.</div>
                                        
                                        </div>
                                    </md-input-container>
                                    
                                    
                                </div>
                                <div layout="row" flex layout-sm="column">
                                    <md-input-container flex>
                                        <label>Medical Aid Main Member</label>
                                        <input type="text" name="medical_main" ng-model="entry.medical.main" placeholder="Main Member">
                                        
                                    </md-input-container>
                                    <md-input-container flex>
                                        <label>Medical Aid Plan</label>
                                        <input type="text" name="medical_plan" ng-model="entry.medical.plan" placeholder="Plan/Product">
                                        
                                    </md-input-container>
                                   
                                    
                                </div>
                                
                                <div layout="row" flex layout-sm="column">
                                    
                                    <md-input-container flex>
                                        <label>Medical Conditions</label>
                                        <textarea ng-model="entry.medical.conditions" columns="1" md-maxlength="400"></textarea>
                                      </md-input-container>
                                    
                                </div>
                                <div layout="row" layout-sm="column">
                                <h4>Doctor Information</h4>
                                </div>
                                
                                <div layout="row" flex layout-sm="column">
                                    <md-input-container flex>
                                        <label>Doctor Name</label>
                                        <input type="text" name="medical_doctorName" ng-model="entry.medical.doctorName" placeholder="Your Doctors Name">
                                        
                                    </md-input-container>
                                    <md-input-container flex>
                                        <label>Doctor Contact Number</label>
                                        <input type="text" name="medical_doctorNumber" ng-model="entry.medical.doctorNumber" placeholder="Your Doctors Contact Number">
                                        
                                    </md-input-container>
                                    
                                    
                                </div>
                                <div layout="row" layout-sm="column">
                                <h4>Postal Address</h4>
                                </div>
                                
                                <div layout="row" flex layout-sm="column">
                                    <md-input-container flex>
                                        <label>PO Box</label>
                                        <input type="text" name="box" ng-model="entry.postal.box" placeholder="PO Box">
                                        
                                    </md-input-container>
                                    <md-input-container flex>
                                        <label>Town/City</label>
                                        <input type="text" name="postal_town" ng-model="entry.postal.town" placeholder="Town/City">
                                        
                                    </md-input-container>
                                    
                                </div>
                                <div layout="row" layout-sm="column">
                                    <md-input-container >
                                        <label>Postal Code</label>
                                        <input type="text" name="postal_code" ng-model="entry.postal.code" placeholder="Postal Code">
                                        
                                    </md-input-container>
                                    
                                </div>
                                <div layout="row" layout-sm="column">
                                <h4>Race Information</h4>
                                </div>
                                
                                <div layout="row" flex layout-sm="column">
                                    <md-input-container flex>
                                        <label>Cycling Club/Team Name</label>
                                        <input type="text" name="club" ng-model="entry.club.name" placeholder="Cycling Club/Team Name">
                                        <div ng-messages="entryForm.club.$error" class="error">
                                          <div ng-message="required">This is required.</div>
                                        
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex>
                                        <label>Province/Region</label>
                                        <input type="text" name="province" ng-model="entry.club.province" placeholder="Province/Region">
                                        <div ng-messages="entryForm.province.$error" class="error">
                                          <div ng-message="required">This is required.</div>
                                        
                                        </div>
                                    </md-input-container>
                                    
                                </div>
                                
                                <div layout="row" layout-sm="column">
                                <h4>Race Information</h4>
                                </div>
                                
                                <div layout="row" layout-sm="column">
                                    <md-input-container flex-sm="100" flex-gt-md="35" flex-md="50">
                                        <p><b>Do you have CSA a License:</b> <span class="radioValue">{{ entry.license.exist }}</span> </p>
                                        <md-radio-group ng-model="entry.license.exist" layout="row">
                                          <md-radio-button value="yes">Yes</md-radio-button>
                                          <md-radio-button value="no"> No </md-radio-button>
                                          
                                        </md-radio-group>
                                    </md-input-container flex-sm="100" flex-gt-md="65" flex-md="50">
                                    <md-input-container flex>
                                        <label>CSA Licence Number</label>
                                        <input type="text" name="csa_number" ng-model="entry.license.number" placeholder="Enter if you have CSA License Number" >
                                        
                                    </md-input-container>
                                    
                                </div>

                                <div layout="row" layout-sm="column">
                                <h4>Age Category</h4>
                                </div>

                                <div layout="row" layout-sm="column">

                                    <md-radio-group ng-model="entry.age_cat">
                                      <md-radio-button value="O/8">  O/8 (Born between 1Jan15-31Dec07)</md-radio-button>
                                      <md-radio-button value="O/10"> O/10 (Born between 1Jan05-31Dec06) </md-radio-button>
                                      <md-radio-button value="O/12"> O/12 (Born between 1Jan03-31Dec04) </md-radio-button>
                                      <md-radio-button value="O/14"> O/14 (Born between 1Jan01-31Dec02) </md-radio-button>
                                      <md-radio-button value="Sub-Junior"> Sub-Junior (Born between 1Jan99-31Dec00) </md-radio-button>
                                      <md-radio-button value="Junior"> Junior (Born between 1Jan97-31Dec98) </md-radio-button>
                                      <md-radio-button value="Senior"> Senior (Born between 1Jan86-31Dec96) </md-radio-button>
                                      <md-radio-button value="Sub-Veteran"> Sub-Veteran (Born between 1Jan76-31Dec85 ) </md-radio-button>
                                      <md-radio-button value="Veteran"> Veteran (Born between 1Jan66-31Dec75 ) </md-radio-button>
                                      <md-radio-button value="Master"> Masters (Born between 1Jan56-31Dec65) </md-radio-button>
                                      <md-radio-button value="Grand-Master"> Grand-Masters (Born before Before 31Dec55) </md-radio-button>
                                      <md-radio-button value="Tandem"> Tandem </md-radio-button>
                                    </md-radio-group>
                                   
                                </div>

                                <div layout="row" layout-sm="column">
                                <h4>Race Category</h4>
                                </div>

                                <div layout="row" layout-sm="column">

                                    <md-radio-group ng-model="entry.race" layout="row">
                                      <md-radio-button value="15km"> 15km (R80) </md-radio-button>
                                      <md-radio-button value="40km"> 40km (R150)</md-radio-button>
                                      <md-radio-button value="70km"> 70km (R200)</md-radio-button>
                                    </md-radio-group>
                                   
                                </div>

                                <br>
                                </div>
                                <div flex layout="column" data-ng-hide="collapseConfirm">
                                    <div layout="row" flex>
                                        <br>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35">
                                           <span><b>Event Name:</b></span> 
                                        </div>
                                        <div layout="row" flex>
                                            <span>{{event.name}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                           <span><b>Gender:</b></span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit">{{entry.gender}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                          <span><b>Firstname:</b> </span>
                                        </div>
                                        <div layout="row" flex>
                                           <span class="txt-inherit">{{entry.firstName}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                           <span><b>Lastname:</b></span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit">{{entry.lastName}}</span>
                                        </div>
                                    </div>

                                   <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                           <span><b>class:</b> </span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit">{{entry.rsaclass}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                           <span><b>Birthdate:</b> </span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit">{{ birthDate | Customdate }}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                           <span><b>Mobile:</b> </span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit">{{entry.mobileNumber}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                            <span><b>Email:</b> </span>
                                        </div>
                                        <div layout="row" flex>
                                             <span class="txt-inherit">{{entry.email}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                           <span><b>Contact Person:</b></span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit">{{entry.emergency.person}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                           <span><b>Contact Number:</b></span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit">{{entry.emergency.contact}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                           <span><b>Contact Relationship:</b></span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit">{{entry.emergency.relationship}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                          <span><b>Medical Aid Company:</b></span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit">{{entry.medical.company}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                          <span><b>Medical Aid Number:</b></span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit">{{entry.medical.number}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                          <span><b>Medical Aid Plan:</b></span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit">{{entry.medical.plan}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                          <span><b>Medical Aid Main/M:</b> </span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit">{{entry.medical.main}}</span>
                                        </div>
                                    </div>
                                   <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                          <span><b>Medical Conditions:</b> </span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit">{{entry.medical.conditions}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                          <span><b>Doctor Name:</b> </span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit">{{entry.medical.doctorName}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                          <span><b>Doctor Contact Number:</b> </span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit">{{entry.medical.doctorNumber}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                          <span><b>Po Box:</b> </span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit">{{entry.postal.box}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                          <span><b>City/Town:</b> </span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit">{{entry.postal.town}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                          <span><b>Postal Code:</b> </span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit"> {{entry.postal.code}}</span>
                                        </div>
                                    </div>

                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                          <span><b>Province:</b></span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit"> {{entry.club.province}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                          <span><b>CSA License:</b> </span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit"> {{entry.license.exist}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                          <span><b>CSA License No:</b> </span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit"> {{entry.license.number}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                          <span><b>Age Category:</b> </span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit">{{entry.age_cat}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                          <span><b>Race Distance:</b></span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit">{{entry.race}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                          <span><b>Total Fees</b></span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit"> {{entry.fee}}</span>
                                        </div>
                                    </div>
                                    
                               
                                <br>
                                 <md-divclasser></md-divclasser>
                                    <div>
                                            <div layout="row">
                                                <h2>Total Fee</h2>
                                               
                                            </div>
                                            <div layout="row">
                                                <div flex-gt-md="10" flex-md="20" flex-sm="40">
                                                     <span>Race Fee: </span>
                                                </div>
                                                <div flex>
                                                    <span>{{'R' + raceFee}}</span> 
                                                </div>
                                               
                                            </div>
                                            <div layout="row" >
                                                <div flex-gt-md="10" flex-md="20" flex-sm="40" >
                                                     <span>License Fee: </span>
                                                </div>
                                                <div flex>
                                                    <span>{{'R' + licenseFee}}</span> 
                                                </div>
                                               <md-divclasser></md-divclasser>
                                            </div>
                                            <div layout="row">
                                                <div flex-gt-md="10" flex-md="20" flex-sm="40">
                                                     <span><b>Total</b> </span>
                                                </div>
                                                <div flex>
                                                    <span>{{'R' + entry.fee}}</span> 
                                                </div>
                                                <md-divclasser></md-divclasser>
                                            </div>
                                            <div layout="column" flex>
                                                <br>
                                                <md-divclasser></md-divclasser>
                                                <h3>INDEMNITY & WAIVER:</h3>
                                                <p> I undertake to participate in the above event entirely at my own risk. I agree that I shall have no claim whatsoever against the organisers,officials,marshals,helpers,sponsors,any local authority or any landowner or the employees or servants of any of the above parties for any loss,damage or injury whatsoever which I may suffer as a result of my participation in this event including my arrival thereat and departure there from and any ceremonies or functions thereof. In the event of my signing this form as a guardian of a minor, I hereby consent to such minor being bound by the waiver including to the extent to which he/she is not capeable of waiving his/her rights as stipulated above. The wearing of helmets in compulsary.</p>
                                          </div>  
                                    </div>
                                   
                                          
                                </div>
                       
                        <div layout="row" data-ng-hide="collapseConfirm">
                                   <md-button type="submit" class="md-raised md-primary">Register</md-button>
                         </div>       
                        <div data-ng-show="error" class="text-danger">
                            <strong data-ng-bind="error"></strong>
                        </div>
                                
                            </div>
                        </form>

                        <div layout="row" flex layout-align="start center" data-ng-hide="collapseForm">
                                <md-button data-ng-click="confirm(); calculateTotal()" class="md-raised md-warn">Proceed</md-button>
                        </div>
                        
                        


                    </md-content>
                </md-whiteframe>    
                </div>
         
        <div flex="15" class="bg-lgrey" hide-sm hide-md hide-lg></div>
</div>


 