<div flex layout="row" class="bg-gen"  data-ng-controller="EntriesController" data-ng-init="find()"> 

    <div flex="15" class="bg-lgrey" hide-sm hide-md hide-lg></div>
       <div flex layout="column" layout-wrap class="bg-white" >
            <div layout="row"  data-ng-hide="authentication.user"  layout-align="end center">
                        <div flex layout="column" layout-align="center start" layout-padding>
                            <div layout="row" flex>
                                <md-content>
                               <h1 flex>Entry Search</h1>
                              </md-content>
                            </div>
                           
                             
                            <div layout-gt-sm="row" layout-sm="column" data-ng-if="foundEntry[0] == undefined">
                              <h3>Search for your Entry</h3>
                            </div>
                            <div data-ng-if="foundEntry[0] == undefined">
                              <form name="sponsorForm" data-ng-submit="findEntry(searchID)" flex layout-fill class="std-text">
                                  <div layout="column" layout-sm="column" layout-fill>
                                  
                                
                                      
                                      <div layout="row" layout-sm="column">
                                     
                                          <md-input-container flex>
                                              <label>Enter yout Entry ID Provided to you by Email</label>
                                              <input type="text" required name="Name" ng-model="searchID" placeholder="Entry ID">
                                              
                                          </md-input-container>
                                          
                                      </div>
                                      
                                      <md-button type="submit" class="md-accent md-raised" aria-label="View Entry">
                                      Search
                                    </md-button>
                                    
                                      <div data-ng-show="error" class="text-danger">
                                          <strong data-ng-bind="error"></strong>
                                      </div>
                                  </div>
                              </form>
                            </div>
                           
                        </div>  
                        
            </div>

            <div layout="column" data-ng-show="authentication.user">
           
              
              <div flex layout="row">
              <div layout-"row" ng-style="{'padding-top':'35px', 'padding-left':'20px'}">
                <ng-md-icon icon="search" size="30" ng-attr-style="fill: {{fill}}"></ng-md-icon>
              </div>
                <div layout-"row">
                <md-content  class="md-padding" layout="row" layout-sm="column">
                  <md-input-container>
                    <label>Search</label>
                    <input ng-model="searchText">
                  </md-input-container>
                  
                </md-content>
                </div>
              </div>

            </div>

            <div layout="column" data-ng-if="foundEntry[0]">
              
              
              <div layout="row" flex data-ng-repeat="entry in foundEntry" layout-padding>

                 <div layout="column">
                                        
                                        <h1>{{foundEntry[0].firstName}} {{foundEntry[0].lastName}}</h1>

                                        <h2>Status: <span class="txt-normal"> {{foundEntry[0].status[0]}}</span> 
                                            <ng-md-icon icon="check_circle" data-ng-if="foundEntry[0].status == 'complete'" size="20" ng-attr-style="fill: {{success}}"></ng-md-icon>
                                            <ng-md-icon icon="cancel" data-ng-if="foundEntry[0].status == 'unpaid'" size="20" ng-attr-style="fill: {{fail}}"></ng-md-icon>
                                        </h2>
                                       

                                    <div class="pad-l5">
                                      <div layout="column" flex >
                            
                                        <h3>Event</h3>
                                        <span><b>Event Name:</b> {{event.name}}</span>
                                        <span><b>Event Date:</b> {{event.eventDate | Customdate }}</span>

                                    </div>
                                    <div layout="column" flex >

                                        <h3>Personal Information</h3>
                                        <span><b>Gender:</b> {{foundEntry[0].gender}}</span>
                                        <span><b>Firstname:</b> {{foundEntry[0].firstName}}</span>
                                        <span><b>Lastname:</b> {{foundEntry[0].lastName}}</span>
                                        <span><b>ID:</b> {{foundEntry[0].rsaId}}</span>
                                        <span><b>Birthdate:</b> {{foundEntry[0].birthDate | Customdate }}</span>

                                    </div>
                                    <div layout="column" flex >
                                        <h3>Contact Information</h3>
                                        <span><b>Mobile:</b> {{foundEntry[0].mobileNumber}}</span>
                                        <span><b>Email:</b> {{foundEntry[0].email}}</span>
                                    </div>
                                    <div layout="column" flex >
                                        <h3>Emergency Information</h3>
                                        <span><b>Contact Person:</b> {{foundEntry[0].emergency.person}}</span>
                                        <span><b>Contact Number:</b> {{foundEntry[0].emergency.contact}}</span>
                                        <span><b>Contact Relationship:</b> {{foundEntry[0].emergency.relationship}}</span>
                                    </div>
                                    <div layout="column" flex >
                                        <h3>Medical Information</h3>
                                        <span><b>Medical Aid Company:</b> {{foundEntry[0].medical.company}}</span>
                                        <span><b>Medical Aid Number:</b> {{foundEntry[0].medical.number}}</span>
                                        <span><b>Medical Aid Plan:</b> {{foundEntry[0].medical.plan}}</span>
                                        <span><b>Medical Aid Main Member:</b> {{foundEntry[0].medical.main}}</span>
                                        <span><b>Medical Conditions:</b> {{foundEntry[0].medical.conditions}}</span>
                                        <span><b>Doctor Name:</b> {{foundEntry[0].medical.doctorName}}</span>
                                        <span><b>Doctor Contact Number:</b> {{foundEntry[0].medical.doctorNumber}}</span>
                                    </div>
                                    <div layout="column" flex>
                                        <h3>Postal Address</h3>
                                        <span><b>Po Box:</b> {{foundEntry[0].postal.box}}</span>
                                        <span><b>City/Town:</b> {{foundEntry[0].postal.town}}</span>
                                        <span><b>Postal Code:</b> {{foundEntry[0].postal.code}}</span>
                                    </div>
                                    <div layout="column" flex>
                                        <h3>Race Information</h3>
                                        <span><b>Club/Team</b> {{foundEntry[0].club.name}}</span>
                                        <span><b>Province:</b> {{foundEntry[0].club.province}}</span>
                                        <span><b>CSA License:</b> {{foundEntry[0].license.exist}}</span>
                                        <span><b>CSA License No:</b> {{foundEntry[0].license.number}}</span>
                                        <span><b>Age Category:</b> {{foundEntry[0].age_cat}}</span>
                                        <span><b>Race Distance:</b> {{foundEntry[0].race}}</span>
                                    
                                    </div>
                                    </div>

                                    

                 </div>  
            </div>
            </div>
            
            <div layout="column" flex data-ng-show="authentication.user">
            	<md-content layout-fill >
                <md-list>
                  <md-item >
                    <md-item-content>
                      <div class="md-tile-left">
                         <md-button class="list-icon md-fab md-mini" ng-disabled="true" class="md-primary"><p>#</p></md-button>
                      </div>
                      <div class="md-tile-content" layout-fill layout="row">
                      <div layout="row" layout-sm="column" flex>
                          <div flex layout="row" layout-align="start center">
                              <h3><b>Name</b></h3>
                          </div>
                          <div flex="30" layout="row" layout-align="start center" hide-md hide-sm>
                              <h3><b>Entry ID</b></h3>
                          </div>
                       <!-- 	<div flex layout="row" layout-align="start center">
                              <h3><b>Gender</b></h3>
                          </div> -->
                         <div flex layout="row" layout-align="start center">
                              <h3><b>Race</b></h3>
                          </div>
                          <div flex layout="row" layout-align="start center">
                              <h3><b>Status</b></h3>
                          </div>
                           <div flex layout="row" layout-align="start center">
                              <h3><b>Category</b></h3>
                          </div>
                          <div flex layout="row" layout-align="end center">
                          		<!-- <md-button class="" aria-label="View Entry">
						          <ng-md-icon icon="more_vert" size="20" ng-attr-style="fill: {{fill}}"></ng-md-icon>
						        </md-button> -->
                              
                          </div>
                      </div>
                      
                      <br>
                        
                      </div>
                       
                    </md-item-content>
                    <md-divider></md-divider>
                  </md-item>

                </md-list>
              </md-content>
              <md-content layout-fill >
                <md-list>
                  <md-item ng-repeat="entry in entries | filter:searchText">
                    <md-item-content>
                      <div class="md-tile-left">
                          <!-- <img data-ng-src="{{contact.imageUrl}}" class="face" alt="{{contact.firstName}}"> -->
                          <md-button class="md-fab md-mini md-warn list-icon" aria-label="View Entry">
				          {{$index + 1}}
				        </md-button>
                      </div>
                      <div class="md-tile-content" layout-fill layout="row">
                      <div layout="row" layout-sm="column" flex>
                          <div flex layout="row" layout-align="start center">
                              <h3>{{entry.firstName + ' ' + entry.lastName}}</h3>
                          </div>
                          <div flex="30" layout="row" layout-align="start center" hide-md hide-sm>
                              <h3>{{entry._id }}</h3>
                          </div>
                       	<!-- <div flex layout="row" layout-align="start center">
                              <h3>{{entry.gender}}</h3>
                          </div> -->
                         <div flex layout="row" layout-align="start center">
                              <h3>{{entry.race}}</h3>
                          </div>
                          <div flex layout="row" layout-align="start center">
                              <h3>{{entry.status[0]}}</h3>
                          </div>
                          <div flex layout="row" layout-align="start center">
                              <h3>{{entry.age_cat}}</h3>
                          </div>
                          <div flex layout="row" layout-align="end center">
                          		<md-button class="" aria-label="View Entry" data-ng-href="/#!/entries/{{entry._id}}">
						          <ng-md-icon icon="more_vert" size="20" ng-attr-style="fill: {{fill}}"></ng-md-icon>
						        </md-button>
                              
                          </div>
                      </div>
                      
                      <br>
                        
                      </div>
                       
                    </md-item-content>
                    <md-divider></md-divider>
                  </md-item>

                </md-list>
              </md-content>
            </div>        
        </div>    
     <div flex="15"  hide-sm hide-md hide-lg></div>
</div>


<!-- <div flex layout="row" layout-fill data-ng-controller="EntriesController" data-ng-init="find()" >
   
        <div flex="15" class="bg-lgrey" hide-sm hide-md hide-lg></div>
       <div flex layout="row" layout-wrap layout-fill>
           
       </div>    
        <div flex="15" class="bg-lgrey" hide-sm hide-md hide-lg></div>
    
      

</div> -->