<div flex layout="row" layout-fill data-ng-controller="EntriesController" data-ng-init="findOne(); loadEvents(); findEvent();">

    

	<div flex="15" class="bg-lgrey" hide-sm hide-md hide-lg></div>
			
			  <div flex layout="column" layout-padding >
                                    <!-- <div class="bg-white" layout="row"  data-ng-show="authentication.user && entries[0] "  layout-align="end center">
                                    <div flex layout="column" layout-align="center end">
                                        <md-content>
                                        <md-button data-ui-sref="entries.create" class="md-warn md-raised left" layout="row" layout-align="center center">
                                                    <ng-md-icon icon="add" size="20" ng-attr-style="fill: {{fill}}"></ng-md-icon><span class="mar-l-5"> Add entrie</span>
                                        </md-button>
                                        <md-divider></md-divider>
                                        </md-content>
                                    </div>  
                                    
                                    </div>
                                    <div layout="row"  data-ng-hide="entry[0]" layout-align="center center">
                                        <div flex layout="column" layout-align="center center">
                                            <h3>Please Provide your Entry ID we have emailed to you to view your Entry</h3>
                                            
                                        </div>  
                                        
                                    </div>

                                    <div layout="row"  layout-align="center center">
                                       <md-content class="md-padding">
                                            <form name="sponsorForm" data-ng-submit="create()" flex layout-fill class="std-text">
                                                <div layout="column" layout-sm="column" layout-fill>
                                                
    
                                                    
                                                    <div layout="row" layout-sm="column">
                                                   
                                                        <md-input-container flex>
                                                            <label>Name</label>
                                                            <input type="text" required name="Name" ng-model="sponsor.name" placeholder="Sponsor Name">
                                                            <div ng-messages="sponsorForm.Name.$error" class="error">
                                                              <div ng-message="required">This is required.</div>
                                                            </div>
                                                        </md-input-container>
                                                        
                                                    </div>
                                                    
                                                    
                                                     
                                                    <div data-ng-show="error" class="text-danger">
                                                        <strong data-ng-bind="error"></strong>
                                                    </div>
                                                </div>
                                            </form>
                                        </md-content>
                                        
                                    </div> -->
                                    <!-- ======================================================= -->
			  						<div layout="row" flex >
                                        
                                        <div layout="column" flex>
                                            <h1 ></ng-md-icon>Entry Details</h1>
                                            <h1>{{entry.firstName + ' ' + entry.lastName}}</h1>

                                        </div>
                            		  <div layout="row" flex layout-align="end center" data-ng-show="authentication.user">
                                            <md-button  class="md-raised md-accent mar-l-5"   href="/#!/entries/{{entry._id}}/edit" >Confirm Entry</md-button>
                                            
                                        </div>
                                        
                                    </div>
			 						
                                    <div layout="row" flex >
                            
                                        <h2>Status: <span class="txt-normal"> {{entry.status[0]}}</span> 
                                            <ng-md-icon icon="check_circle" data-ng-if="entry.status == 'complete'" size="20" ng-attr-style="fill: {{success}}"></ng-md-icon>
                                            <ng-md-icon icon="cancel" data-ng-if="entry.status == 'unpaid'" size="20" ng-attr-style="fill: {{fail}}"></ng-md-icon>
                                        </h2>
                                        

                                    </div>

                                     <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                           <span><b>Gender:</b></span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit">{{entry.gender}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                          <span><b>Firstname:</b> </span>
                                        </div>
                                        <div layout="row" flex>
                                           <span class="txt-inherit">{{entry.firstName}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                           <span><b>Lastname:</b></span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit">{{entry.lastName}}</span>
                                        </div>
                                    </div>
                                   <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                           <span><b>ID:</b> </span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit">{{entry.rsaId}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                           <span><b>Birthdate:</b> </span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit">{{entry.birthDate | Customdate }}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                           <span><b>Mobile:</b> </span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit">{{entry.mobileNumber}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                            <span><b>Email:</b> </span>
                                        </div>
                                        <div layout="row" flex>
                                             <span class="txt-inherit">{{entry.email}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                           <span><b>Contact Person:</b></span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit">{{entry.emergency.person}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                           <span><b>Contact Number:</b></span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit">{{entry.emergency.contact}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                           <span><b>Contact Relationship:</b></span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit">{{entry.emergency.relationship}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                          <span><b>Medical Aid Company:</b></span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit">{{entry.medical.company}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                          <span><b>Medical Aid Number:</b></span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit">{{entry.medical.number}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                          <span><b>Medical Aid Plan:</b></span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit">{{entry.medical.plan}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                          <span><b>Medical Aid Main/M:</b> </span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit">{{entry.medical.main}}</span>
                                        </div>
                                    </div>
                                   <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                          <span><b>Medical Conditions:</b> </span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit">{{entry.medical.conditions}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                          <span><b>Doctor Name:</b> </span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit">{{entry.medical.doctorName}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                          <span><b>Doctor Contact Number:</b> </span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit">{{entry.medical.doctorNumber}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                          <span><b>Po Box:</b> </span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit">{{entry.postal.box}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                          <span><b>City/Town:</b> </span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit">{{entry.postal.town}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                          <span><b>Postal Code:</b> </span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit"> {{entry.postal.code}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                          <span><b>Province:</b></span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit"> {{entry.club.province}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                          <span><b>CSA License:</b> </span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit"> {{entry.license.exist}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                          <span><b>CSA License No:</b> </span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit"> {{entry.license.number}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                          <span><b>Age Category:</b> </span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit">{{entry.age_cat}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                          <span><b>Race Distance:</b></span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit">{{entry.race}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" flex>
                                        <div layout="row" flex-sm="50" flex-gt-sm="35"  >
                                          <span><b>Total Fees</b></span>
                                        </div>
                                        <div layout="row" flex>
                                            <span class="txt-inherit"> {{entry.fee}}</span>
                                        </div>
                                    </div>
                               		
                                <br>
                                <md-divider></md-divider>
                                
                                    
                   </div>

                   </div>
	       
        <div flex="15" class="bg-lgrey" hide-sm hide-md hide-lg></div>
</div>