<div flex layout="row" layout-fill data-ng-controller="EntriesController" data-ng-init="findOne()">

	<div flex="15" class="bg-lgrey" hide-sm hide-md hide-lg></div>
			
			    <div flex layout="column" layout-wrap layout-fill>
			    <md-whiteframe class="md-whiteframe-z1" flex>
		       <div flex layout="row" layout-fill layout-align="start center">
			       <md-content layout-fill layout-padding>
				       	<h1 layout>Entry Information</h1>
				       	<md-divider ></md-divider>
			       	</md-content>
		       </div>  

		       </md-whiteframe> 
	      </div>
			
	       
        <div flex="15" class="bg-lgrey" hide-sm hide-md hide-lg></div>
</div>