<div flex layout="row" class="bg-gen"  data-ng-controller="SponsorsController" data-ng-init="find()"> 

    <div flex="15" class="bg-lgrey" hide-sm hide-md hide-lg></div>
       <div flex layout="column" layout-wrap class="bg-white" layout-fill>
        <div layout="column">
                        <div class="bg-white" layout="row"  data-ng-show="authentication.user && sponsors[0] "  layout-align="end center">
                        <div flex layout="row" layout-align="end end">
                            <md-content>
                            <md-button data-ui-sref="sponsors.create" class="md-warn md-raised left" layout="row" layout-align="center center">
                                        <ng-md-icon icon="add" size="20" ng-attr-style="fill: {{fill}}"></ng-md-icon><span class="mar-l-5"> Add sponsor</span>
                            </md-button>
                            <md-divider></md-divider>
                            </md-content>
                        </div>  
                        
                    </div>
                    <div layout="row" flex data-ng-hide="sponsors[0]" layout-align="center center">
                        <div flex layout="column" layout-align="center center">
                            <h2>There are currently no sponsors that you created. Create one first</h2>
                            <md-button data-ng-show="authentication.user" data-ui-sref="sponsors.create" class="md-warn md-raised left" layout="row" layout-align="center center">
                                        <ng-md-icon icon="add" size="20" ng-attr-style="fill: {{fill}}"></ng-md-icon><span class="mar-l-5"> Create </span>
                            </md-button>
                        </div>  
                        
                    </div>

                    </div>
            <div layout="row" flex>
              <md-content layout-fill class="bg-lgrey">
                <md-list>
                  <md-item ng-repeat="sponsor in sponsors">
                    <md-item-content>
                      <div class="md-tile-left">
                          <img data-ng-src="{{sponsor.imageUrl}}" class="img-sponsor" alt="{{sponsor.name}}">
                      </div>
                      <div class="md-tile-content" layout-fill layout="column">
                      <div layout="row" layout-sm="column">
                          <div flex layout="row">
                              <h2>{{sponsor.name}}</h2>

                          </div>
                          <div flex layout="row" layout-align-gt-sm="end center" layout-align-sm="start center">
                               <md-button data-ng-href="/#!/sponsors/{{sponsor._id}}" class="md-accent left" layout="row" layout-align="center center">
                                        <ng-md-icon icon="local_attraction" size="20" ng-attr-style="fill: {{blue}}"></ng-md-icon><span class="mar-l-5"> View Sponsor</span>
                                    </md-button>
                          </div>
                          <br>
                      </div>
                      <md-divider></md-divider>
                      <br>
                        
                      </div>
                       
                    </md-item-content>
                  </md-item>
                </md-list>
              </md-content>
            </div>        
        </div>    
     <div flex="15"  hide-sm hide-md hide-lg></div>
</div>