<div flex layout="row"  class="bg-lgrey" data-ng-controller="PartnersController" data-ng-init="find()"> 

    <div flex="15"  hide-sm hide-md hide-lg></div>
    <!-- =================== Middle Section =================== -->
    
    <div flex layout="column"  >
       <div layout="column" >
            <md-whiteframe class="md-whiteframe-z1" layout-margin>
            <md-content>
            <div layout="row" layout-padding>
                <div layout="row" flex layout-align="start center">
                    <h2>Partners</h2>
                </div>
                <div layout="row" flex layout-align="end center">
                    <md-button data-ui-sref="partners.create" class="md-fab md-warn" aria-label="Eat cake" layout="row" layout-align="center center">
                      <div class="pad-t-5">
                         <ng-md-icon icon="add" size="30" ng-attr-style="fill: {{white}}"></ng-md-icon>
                      </div>
                       
                    </md-button>
                </div>
                
                <!-- <h2 class="mar-l-20 txt-inherit txt-24">{{shop.name}}</h2> -->
            </div>
            <md-divider></md-divider>
            
            
            
        </md-content>
        </md-whiteframe>
       </div>

       <div flex layout="row" layout-wrap >
           <div flex-gt-md="30" flex-md="45" flex-sm="100" layout="column" ng-repeat="partner in partners" layout-margin>
               <md-card>
               <md-content>
                        <div layout="row" layout-padding >
                            <div flex>
                                <h3>{{partner.name}}</h3>
                            </div>
                            <div flex layout="row" layout-align="end center">
                                 <!-- <ng-md-icon icon="whatshot" size="30" ng-attr-style="fill: {{red}}"></ng-md-icon> -->
                            </div>
                        </div>
                </md-content>
                <md-content>
                        <div  class="card-image" ng-style="{'background-image' : 'url({{partner.imageUrl}})', 'background-size' : '100%', 'background-repeat' : 'no-repeat'}">
                         
                        </div>
                </md-content>

                <md-content>
                        <div  layout="column" layout-padding>

                          <h4>{{partner.slogan}}</h4>
                          <p>{{partner.address.line1}} 
                          <br>
                            {{partner.address.line2}}</p>
                         
                        </div>
                </md-content>
                <div layout="row" class="bg-lgrey" layout-padding layout-align="start center">
                    <md-button class="md-accent" data-ng-href="/#!/partners/{{partner._id}}">
                        View
                    </md-button>
                    
                </div>
                 
                </md-card>
           </div>

       </div>
        
                  
                   
        </div>    

    <!-- ======================= Middle Section ==================== -->
        
    <div flex="15"  hide-sm hide-md hide-lg></div>
</div>

