/*Fonts*/
/* Thin */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 100;
	src: local('Roboto Thin'), local('Roboto-Thin'), url("Roboto-Thin.ttf") format('truetype');
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 100;
	src: local('Roboto Thin Italic'), local('Robot-ThinItalic'), url("Robot-ThinItalic.ttf") format('truetype');
}

/* Light */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Light'), local('Roboto-Light'), url("Roboto-Light.ttf") format('truetype');
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 300;
	src: local('Roboto Light Italic'), local('Robot-LightItalic'), url("Robot-LightItalic.ttf") format('truetype');
}
 
/* Normal */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Regular'), local('Robot-Regular'), url("Robot-Regular.ttf") format('truetype');
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 400;
	src: local('Roboto Italic'), local('Robot-Italic'), url("Robot-Italic.ttf") format('truetype');
}
 
/* Bold */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Bold'), local('Robot-Bold'), url("Robot-Bold.ttf") format('truetype');
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 700;
	src: local('Roboto Bold Italic'), local('Robot-BoldItalic'), url("Robot-BoldItalic.ttf") format('truetype');
}

/* Black */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	src: local('Roboto Black'), local('Robot-Black'), url("Robot-Black.ttf") format('truetype');
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 900;
	src: local('Roboto Black Italic'), local('Robot-BlackItalic'), url("Robot-BlackItalic.ttf") format('truetype');
}

.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
	border-color:#FA787E;
}
.ng-valid.ng-dirty{
	border-color:#78FA89;
}

.header-profile-image {
	opacity: 0.8;
	height: 28px;
	width: 28px;
	border-radius: 50%;
	margin-right: 5px;
}

.open  .header-profile-image,
a:hover .header-profile-image {
	opacity: 1;
}

.user-header-dropdown-toggle {
	padding-top: 11px !important;
	padding-bottom: 11px !important;
}

.shadow {
	-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.48);
	-moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.48);
	box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.48);
}

.light {
	font-family: Roboto;
	font-weight: 300;
}

.thin {
	font-family: Roboto;
	font-weight: 100;
}

.normal {
	font-family: Roboto;
	font-weight: 400;
}

.bold {
	font-family: Roboto;
	font-weight: 700;
}

.black {
	font-family: Roboto;
	font-weight: 900;
}

.title {
	font-size: 2.3em;
}


.hd1 {

  font-size: 2.1em;

 }

.hd2 {
  font-size: 1.5em;
 }

.hd3 {
  font-size: 1.17em;
 }

.hd4 {
  font-size: 1em;
 }

.hd5 {
  font-size: 0.83em;
}

.hd6 {
  font-size: 0.75em;
 }


 .normal-ul {
	list-style-type: none;
	padding: 0;
}

/*Hover Classes*/


.item {
	font-size: 16px;
}
.item:hover {
	background-color: #EEEEEE;
	color: white;

}

.item:hover p {
	
	color: #616161;

}

/*color*/
.blue {
	color: #2196F3;
}

.green {
	color: #CDDC39;
}

/*fills*/
.fill-white {
	background-color: white;
}

/*All text styling*/
.txt-blk {
	color: black;
}

.txt-dgrey {
	color: #616161;
}

.txt-white {
	color: white;
}

.btn-text-std {
	font-size: 14px;
}

.txt-inherit {
	font-size: inherit;
  	font-weight: normal;
}

.txt-normal {
	font-weight: normal;
	font-size: 13px;
}

.txt-16 {
	font-size: 16px;
}

.txt-24 {
	font-size: 24px;
}

.txt-chip {
	font: inherit;
	font-size: 0.9em;
  	font-weight: normal;
}

.txt-100 {
	font-size: 100%;

}

.txt-justify {
	text-align: justify;
}

.txt-c {
	text-align: center;
}

/*blokc/divs/area styling*/

.rect {
	 width: 100%;
    height: 0;
    padding-bottom: 50%;
}

.card-image {
	height: 250px;
}

.card-image-full {
	height: 500px;
}


.ad-image {
	min-height: 600px;

	background-position: center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: local;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#EEEEEE;
}

/*Images*/
.img-resp {
	width: 50%;
	max-width:100%;
	max-height:100%;
	height: auto;
}

.pos-rt {
	position: absolute;
	right: 0;
	top: 0;
}

/*margins and paddings*/
.pad-0 {
	padding: 0;
}

.mar-0 {
	margin: 0;
}

.pad-r-10 {
	padding-right: 10px;
}

.pad-r-20 {
	padding-right: 20px;
}

.pad-l-10 {
	padding-left: 10px;
}

.pad-l-20 {
	padding-left: 20px;
}



.pad-l-15 {
	padding-left: 15px;
}

.pad-t-20 {
	padding-top: 20px;
}


.pad-20 {
	padding: 20px;
}

.pad-5 {
	padding: 10px;
}

.pad-10 {
	padding: 10px;
}

.pad-15 {
	padding: 15px;
}



.pad-10-20 {
	padding: 10px 20px 10px 20px;
}

.pad-t-5 {
	padding-top: 5px;
}

.mar-t-5 {
	margin-top: 5px;
}
.mar-t-10 {
	margin-top: 10px;
}

.mar-t-20 {
	margin-top: 20px;
}

.mar-t-100 {
	margin-top: 100px;
}
.mar-b-20 {
	margin-bottom: 20px;
}

.mar-b-10 {
	margin-bottom: 10px;
}

.mar-b-5 {
	margin-bottom: 5px;
}

.mar-5 {
	margin: 5px;
}

.mar-l-5 {
	margin-left: 5px;
}



.mar-l-10 {
	margin-left: 10px;
}

.mar-l-15 {
	margin-left: 15px;
}

.mar-l-20 {
	margin-left: 20px;
}

.mar-r-5 {
	margin-right: 5px;
}
.mar-r-20 {
	margin-right: 20px;
}

.mar-10 {
	margin: 10px;
}

.mar-b-20 {
	margin-bottom: 20px;
}

.mar-b-5 {
	margin-bottom: 5px;
}

.mar-t-b-5 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.red {
	color: red;
}

.bg-llgrey {
	background-color: #FAFAFA;
}
.bg-white {
	background-color: white;
}

.bg-img {
	background-color: #F5F5F5;
}
.bg-gen {
	background-color: #FAFAFA;
}
.bg-lgrey {
	background-color: #EEEEEE;
}

.bg-dgrey {
	background-color: #9E9E9E;
}

.bg-alpha {
	background-color: rgba(0, 0, 0, 0.5);
}

.bg-alpha-80 {
	background-color: rgba(0, 0, 0, 0.8);
}

.h-100 {
	height: 100%;
}

.w-100 {
	width: 100%;
}

.shop-image {
	height: 100px;
}

.min-h-350 {
	min-height: 350px;
}

/*===== Specifics  ===*/
.sidenav-ul {
	list-style-type: none;
	padding: 0;
}


.setting-list {
	list-style-type: none;
	padding: 0;
}

.overlay {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	min-height: inherit;
	background-size: 100%;
	z-index: 1000;
	overflow: 
}

.pos-a-t {
	position: absolute;
	top: 0;
	left: 0;
}

.pos-a-b {
	position: absolute;
	bottom: 0;
	left: 0;
}

.pos-rel {
	position: relative;
	display: inline-block;
}

.rel-button {
	position: relative;
	top: 0;
	right: 0;
}

.bottom-sheet {
	position: absolute;
	bottom: 0;
	left:  0;
}

.block {
	display: block;
}

.face {
  border-radius: 100px;
  border: 1px solid #ddd;
  width: 180px;
  margin: 16px; 

}

.img-sponsor {
	 width: 180px;
  	margin: 16px;
  	background-color: #EEEEEE;
}

.thumbnail {
	width: 50px;
  	margin: 16px;
  	background-color: #EEEEEE;
}

.thumb-sponsor {
	width: 140px;
  	margin: 16px;
}

.list-icon {
	margin-left: 20px;
	margin-right: 20px;
}

.card-height = {
	height: 400px;
}

.rel-down {
	position: relative;
	right: 20px;
	top: 65px;
}

.account-select {
	font-weight: normal;
	font-size: 16px;
}

.list-img-holder {
		border-radius: 100px;
	  border: 1px solid #ddd;
	  width: 180px;
	  height: 180px;
	  margin: 16px; 
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size: 100%;
}

.footer-logo {
	width: 85px;
	margin: 5px;
	/*border-right: 1px solid white;*/
}

.nhd-footer {
	width: 90px;
	
	/*border-right: 1px solid white;*/
}

.border-r-w {
	border-right: 1px solid #616161;
}

.icon-button {
	height: 70%;
}


.border-r {
	border-right: 1px solid #616161;
	
}

.info-pic {
	min-height: 200px;

	background-position: center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: local;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#EEEEEE;

  border: 2px solid white;

   -webkit-box-shadow: 3px 3px 21px 0px rgba(50, 50, 50, 0.42);
		-moz-box-shadow:    3px 3px 21px 0px rgba(50, 50, 50, 0.42);
		box-shadow:         3px 3px 21px 0px rgba(50, 50, 50, 0.42);
}

.round {
		border-radius: 50%;
	  border: 3px solid white;
	  width: 180px;
	  height: 180px;
	  margin: 16px; 
	  background-color: #EEEEEE;
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size: cover;
	  -webkit-box-shadow: 3px 3px 21px 0px rgba(50, 50, 50, 0.42);
		-moz-box-shadow:    3px 3px 21px 0px rgba(50, 50, 50, 0.42);
		box-shadow:         3px 3px 21px 0px rgba(50, 50, 50, 0.42);
    
}

.sponsor-thumb {
	height: 50px;
	width: 50px;

	margin: 0 5px 0 0px;

	background-position: center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: local;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color: #EEEEEE;
}

.center-hor {
	margin: 0 auto;
}

.abs {

	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 300%;
	z-index: 3000;
}

.abs-r-0 {

	position: absolute;
	right: 0;
	top: 0;
	
}

.abs-100 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 140%;
	z-index: 2900;
}

.popup {
	position: absolute;
	

}

.launch-img {
	width: 200px
}

.browser-icon {
	width: 80px;
	margin: 16px;
}

@media (max-width: 600px) {
  .thumb-sponsor {
	width: 100%;
  	
}

.spon-holder {
	margin: 1px;
}

.round {
		border-radius: 50%;
	  border: 3px solid white;
	  width: 120px;
	  height: 120px;
	  margin: 16px; 
	  background-color: #EEEEEE;
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size: cover;
	  -webkit-box-shadow: 3px 3px 21px 0px rgba(50, 50, 50, 0.42);
		-moz-box-shadow:    3px 3px 21px 0px rgba(50, 50, 50, 0.42);
		box-shadow:         3px 3px 21px 0px rgba(50, 50, 50, 0.42);
    
}

.sponsor-section {
	padding: 5px;	
}



.list-card-pic {
	height: 250px;

	background-position: center;
  
	  /* Image doesn't repeat */
	  background-repeat: no-repeat;
	  
	  /* Makes the image fixed in the viewport so that it doesn't move when 
	     the content height is greater than the image height */
	  background-attachment: local;
	  
	  /* This is what makes the background image rescale based on its container's size */
	  background-size: auto 100%;
	  
	  /* Pick a solid background color that will be displayed while the background image is loading */
	  background-color:#EEEEEE;
}

.ad-image {
	min-height: 400px;

	background-position: center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: local;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: auto 100%;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#EEEEEE;
}

}

@media (min-width: 600px) and (max-width: 960px) {
  .thumb-sponsor {
	
  	width: 95%;
  	height: auto;
  	margin: 0 auto;
  	padding: 0;
}

.spon-holder {
	margin: 5px;
	padding: 0 5px 0 5px;
}

.sponsor-section {
	padding: 5px;	
}

.ad-image {
	min-height: 500px;

	background-position: center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: local;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#EEEEEE;
}

}

@media (min-width: 960px) and (max-width: 1200px) {
  .thumb-sponsor {
	width: 80%;
  	height: auto;
  	margin: 0 auto;
  	padding: 0;
}

.spon-holder {
	margin: 5px;
	padding: 0 5px 0 5px;
}

.ad-image {
	min-height: 400px;

	background-position: center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: local;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#EEEEEE;
}

}



@media (min-width: 1200px) and (max-width: 3000px) {
  .thumb-sponsor {
	width: 130px;
  	
}

.sponsor-section {
	padding: 5px;	
}

.spon-holder {
	margin: 5px;
	padding: 0 5px 0 5px;
}

.ad-image {
	min-height: 750px;

	background-position: center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: local;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#EEEEEE;
}

}


/*Tooltips*/
.tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button, .tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button:hover {
  box-shadow: none;
  border: none;
  transform: none;
  -webkit-transform: none; }
.tooltipdemoBasicUsage .left {
  top: 0px !important;
  left: 0px !important; }
.tooltipdemoBasicUsage .right {
  top: 70px !important;
  right: 56px !important; }


/*select Lists*/
.selectdemoOptionsWithAsyncSearch p {
  padding: 0 20px;
  text-align: center; }
.selectdemoOptionsWithAsyncSearch p.md-caption {
  color: #777; }
.selectdemoOptionsWithAsyncSearch .demo-content {
  min-height: 348px; }

  .gridListdemoBasicUsage md-grid-list {
  margin: 8px; }
.gridListdemoBasicUsage .gray {
  background: #f5f5f5; }
.gridListdemoBasicUsage .green {
  background: #b9f6ca; }
.gridListdemoBasicUsage .yellow {
  background: #ffff8d; }
.gridListdemoBasicUsage .blue {
  background: #84ffff; }
.gridListdemoBasicUsage .purple {
  background: #b388ff; }
.gridListdemoBasicUsage .red {
  background: #ff8a80; }
.gridListdemoBasicUsage md-grid-tile {
  transition: all 400ms ease-out 50ms; }

 .os-windows.os-windows::after {content:" os-windows ";}
.os-mac.os-mac::after {content:" os-mac ";}
.os-ios.os-ios::after {content:" os-ios ";}
.os-android.os-android::after {content:" os-android ";}
.os-linux.os-linux::after {content:" os-linux ";}
.os-unix.os-unix::after {content:" os-unix ";}
.os-firefoxos.os-firefoxos::after {content:" os-firefoxos ";}
.browser-chrome.browser-chrome::after {content:" browser-chrome ";}
.browser-firefox.browser-firefox::after {content:" browser-firefox ";}
.browser-safari.browser-safari::after {content:" browser-safari ";}
.browser-opera.browser-opera::after {content:" browser-opera ";}
.browser-ie.browser-ie::after {content:" browser-ie ";}
.device-android.device-android::after {content:" device-android ";}
.device-ipad.device-ipad::after {content:" device-ipad ";}
.device-iphone.device-iphone::after {content:" device-iphone ";}
.device-ipod.device-ipod::after {content:" device-ipod ";}
.device-blackberry.device-blackberry::after {content:" device-blackberry ";}
.device-firefoxos.device-firefoxos::after {content:" device-firefoxos ";}
