.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
	border-color:#FA787E;
}
.ng-valid.ng-dirty{
	border-color:#78FA89;
}

.header-profile-image {
	opacity: 0.8;
	height: 28px;
	width: 28px;
	border-radius: 50%;
	margin-right: 5px;
}

.open  .header-profile-image,
a:hover .header-profile-image {
	opacity: 1;
}

.user-header-dropdown-toggle {
	padding-top: 11px !important;
	padding-bottom: 11px !important;
}

/*Hover Classes*/


.item {
	font-size: 16px;
}
.item:hover {
	background-color: #EEEEEE;
	color: white;

}

.item:hover p {
	
	color: #616161;

}

/*fills*/
.fill-white {
	background-color: white;
}

/*All text styling*/
.txt-blk {
	color: black;
}

.txt-dgrey {
	color: #616161;
}

.txt-white {
	color: white;
}

.btn-text-std {
	font-size: 14px;
}

.txt-inherit {
	font-size: inherit;
  	font-weight: normal;
}

.txt-normal {
	font-weight: normal;
}

.txt-chip {
	font: inherit;
	font-size: 0.9em;
  	font-weight: normal;
}

.txt-100 {
	font-size: 100%;

}

.txt-justify {
	text-align: justify;
}

/*blokc/divs/area styling*/

.rect {
	 width: 100%;
    height: 0;
    padding-bottom: 50%;
}

.ad-image {
	min-height: 600px;

	background-position: center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: local;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#EEEEEE;
}

/*Images*/
.img-resp {
	width: 50%;
	max-width:100%;
	max-height:100%;
	height: auto;
}

.pos-rt {
	position: absolute;
	right: 0;
	top: 0;
}

/*margins and paddings*/
.pad-0 {
	padding: 0;
}

.pad-r-10 {
	padding-right: 10px;
}

.pad-r-20 {
	padding-right: 20px;
}

.pad-l-10 {
	padding-left: 10px;
}

.pad-l-15 {
	padding-left: 15px;
}

.pad-t-20 {
	padding-top: 20px;
}


.pad-20 {
	padding: 20px;
}

.pad-5 {
	padding: 10px;
}

.pad-10 {
	padding: 10px;
}

.pad-15 {
	padding: 15px;
}



.pad-10-20 {
	padding: 10px 20px 10px 20px;
}

.pad-t-5 {
	padding-top: 5px;
}

.mar-t-5 {
	margin-top: 5px;
}
.mar-t-10 {
	margin-top: 10px;
}

.mar-t-20 {
	margin-top: 20px;
}
.mar-b-20 {
	margin-bottom: 20px;
}

.mar-5 {
	margin: 5px;
}

.mar-l-5 {
	margin-left: 5px;
}

.mar-l-20 {
	margin-left: 20px;
}

.mar-r-20 {
	margin-right: 20px;
}

.mar-10 {
	margin: 10px;
}

.mar-b-20 {
	margin-bottom: 20px;
}

.mar-b-5 {
	margin-bottom: 5px;
}

.mar-t-b-5 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.red {
	color: red;
}
.bg-white {
	background-color: white;
}

.bg-img {
	background-color: #F5F5F5;
}
.bg-gen {
	background-color: #FAFAFA;
}
.bg-lgrey {
	background-color: #EEEEEE;
}

.bg-dgrey {
	background-color: #9E9E9E;
}

.bg-alpha {
	background-color: rgba(0, 0, 0, 0.5);
}

.h-100 {
	height: 100%;
}

.w-100 {
	width: 100%;
}

.min-h-350 {
	min-height: 350px;
}

/*===== Specifics  ===*/
.sidenav-ul {
	list-style-type: none;
	padding: 0;
}


.setting-list {
	list-style-type: none;
	padding: 0;
}

.overlay {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	min-height: inherit;
	background-size: 100%;
	z-index: 1000;
	overflow: 
}

.pos-a-t {
	position: absolute;
	top: 0;
	left: 0;
}

.pos-a-b {
	position: absolute;
	bottom: 0;
	left: 0;
}

.pos-rel {
	position: relative;
	display: inline-block;
}

.rel-button {
	position: relative;
	top: 0;
	right: 0;
}

.bottom-sheet {
	position: absolute;
	bottom: 0;
	left:  0;
}

.block {
	display: block;
}

.face {
  border-radius: 100px;
  border: 1px solid #ddd;
  width: 180px;
  margin: 16px; 

}

.img-sponsor {
	 width: 180px;
  	margin: 16px;
  	background-color: #EEEEEE;
}

.thumbnail {
	width: 50px;
  	margin: 16px;
  	background-color: #EEEEEE;
}

.thumb-sponsor {
	width: 140px;
  	margin: 16px;
}

.list-icon {
	margin-left: 20px;
	margin-right: 20px;
}

.card-height = {
	height: 400px;
}


.account-select {
	font-weight: normal;
	font-size: 16px;
}

@media (max-width: 600px) {
  .thumb-sponsor {
	width: 70px;
  	
}

.sponsor-section {
	padding: 5px;	
}

.ad-image {
	min-height: 400px;

	background-position: center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: local;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: auto 100%;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#EEEEEE;
}

}

@media (min-width: 600px) and (max-width: 900px) {
  .thumb-sponsor {
	width: 100%;
  	
}

.sponsor-section {
	padding: 5px;	
}

.ad-image {
	min-height: 500px;

	background-position: center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: local;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#EEEEEE;
}

}

@media (min-width: 900px) and (max-width: 1000px) {
  .thumb-sponsor {
	width: 70%;
  	
}

.sponsor-section {
	padding: 5px;	
}

.ad-image {
	min-height: 400px;

	background-position: center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: local;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#EEEEEE;
}

}

@media (min-width: 1280px) and (max-width: 3000px) {
  .thumb-sponsor {
	width: 70%;
  	
}

.sponsor-section {
	padding: 5px;	
}

.ad-image {
	min-height: 750px;

	background-position: center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: local;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#EEEEEE;
}

}


/*Tooltips*/
.tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button, .tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button:hover {
  box-shadow: none;
  border: none;
  transform: none;
  -webkit-transform: none; }
.tooltipdemoBasicUsage .left {
  top: 0px !important;
  left: 0px !important; }
.tooltipdemoBasicUsage .right {
  top: 70px !important;
  right: 56px !important; }


/*select Lists*/
.selectdemoOptionsWithAsyncSearch p {
  padding: 0 20px;
  text-align: center; }
.selectdemoOptionsWithAsyncSearch p.md-caption {
  color: #777; }
.selectdemoOptionsWithAsyncSearch .demo-content {
  min-height: 348px; }

  .gridListdemoBasicUsage md-grid-list {
  margin: 8px; }
.gridListdemoBasicUsage .gray {
  background: #f5f5f5; }
.gridListdemoBasicUsage .green {
  background: #b9f6ca; }
.gridListdemoBasicUsage .yellow {
  background: #ffff8d; }
.gridListdemoBasicUsage .blue {
  background: #84ffff; }
.gridListdemoBasicUsage .purple {
  background: #b388ff; }
.gridListdemoBasicUsage .red {
  background: #ff8a80; }
.gridListdemoBasicUsage md-grid-tile {
  transition: all 400ms ease-out 50ms; }
